body {
    background: #FFFFFF;
    color: #333;
    font-family: Verdana, sans-serif;
    line-height: 1.4;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

#container {
    margin: auto;
    width: 7.5in;
    padding: .5in;
}

#contact {
    float: right;
    text-align: right;
}

#contact p {
    margin: .5em;
}

img {
    padding: 4px;
    border: 1px solid #ccc;
    background: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
  list-style-type: none;
}

ul li ul {
    list-style-type: disc;
    margin-bottom: 1.5em;
}

li {
    margin-top: .25em;
    margin-bottom: .25em
}

ul li ul li {
    margin: .3em;
}
