body {
    background: #FFFFFF;
    color: #333;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

a {
    color: #2a99b6;
}

h1 {
  margin-bottom: 0.4in;
}

h2 {
  margin-top: 0.4in;
  margin-bottom: 0.2in;
}

a:hover {
    color: #33bbdf;
}

#container { margin: auto; width: 8.3in;
    padding: .5in 2.0in;
}

#contact {
    float: right;
    text-align: right;
}

#contact p {
    margin: .5em;
}

img {
    padding: 4px;
    border: 1px solid #ccc;
    background: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 0.61em;
}

ul li ul {
    list-style-type: disc;
    margin-bottom: 1.5em;
}

li {
    margin-top: .25em;
    margin-bottom: .25em
}

ul li ul li {
    margin: .3em;
}
